<div class="front_div">
  <%= image_tag "background_image.jpg", style:"width:100%" %>
</div>

<div class="image-banner-text">
    <p>Small Business Solution To Automate</p>
    <p>Employee Time Entry and Reporting</p>
</div>
<div class="sub-heading">
  <h5 style="background-color: #f3f3f3;text-align: center;">Deploy in Minutes. Accelerate Your Efficiency by Light Years</h5>

  <p>Early-stage consulting firms and other small business with fewer than 50 employees often resort to manual time entry to track their employees’ work. ChronStack™ enables employers to automate and streamline the time-entry and reporting process. The cloud-based platform is simple to deploy for business owners and easy for their employees to use. While ChronStack is feature rich, it is designed for small companies with limited budgets who don’t need enterprise-scale software.</p>
</div>

<%= render partial: 'static_pages/login_form'%>
<div id ="player"></div>


<div class="grid-x front-row full-width banner" style="float:left;">
  <%= image_tag "feature-bg.jpg", style:"max-height:400px;width:100%;" %>
  <div class="full-width"></div>
  <div class="banner-text">
    <div class="automation_section" style="float:left;width:200px;font-size: 20px;border: 2px solid #5296ce;border-radius: 10px;margin-top: 40px;">
      <p>Simple for small business to deploy and manage</p>
      <p><%= link_to "Read More", feature_path(id:1), style: "color:white;background:#5296ce;padding:7px;border-radius:3px;" %></p>
    </div>
    <div class="time_entry_section" style="float:left;width:200px;font-size: 20px;border: 2px solid #5296ce;border-radius: 10px; margin-top: 40px;margin-left: 90px;">
    <p>Flexible, cloud-based employees time entry desktop, tablet or smartphone</p>
    <p><%= link_to "Read More", feature_path(id:2), style: "color:white;background:#5296ce;padding:7px;border-radius:3px;" %></p>
    </div>
    <div class="report_section" style="float:left;width:200px;font-size: 20px;border: 2px solid #5296ce;border-radius: 10px; margin-top: 40px;margin-left: 90px;">
      <p>Configurable management reports, optional payroll integration</p>
      <p><%= link_to "Read More", feature_path(id:4), style: "color:white;background:#5296ce;padding:7px;border-radius:3px;" %></p>
    </div>

  </div>
</div>


<div class="front-row full-width footer" style="height:325px;margin-bottom: 0 !important;">
  <div style="background:black;color: white;height:100px;font-size: 30px;text-align: center;">
    <p>CONTACT CHRONSTACK</p>
  </div>
  <div style="background:#5296ce;color: black;height:125px;font-size: 30px;text-align: center;padding:10px;">
    <p>info@resourcestack.com</p>
    <p style="color:white;font-size: 30px;text-align: center;">571-223-6741</p>
  </div>
  <div class="footer_section" style="height:80px;background-color: white;">
    <div class="icons" style="height:80px;float:left;padding: 40px;margin-left: 20px;">
      <a href="https://www.linkedin.com/company/1188919/" target="_blank" style="padding: 20px;"><%= image_tag("linkedin.png") %></a><a href="https://www.facebook.com/Resource-Stack-Inc-269978683036453/" target="_blank" style="padding: 20px;"><%= image_tag("facebook.png") %></a>
    </div>
    <div class="address" style="height:80px;float:right;margin-right:70px;margin-top: 10px;">

      <p>Resource Stack, INC.</br>626 Grant Street Suite D</br>Herndon, VA 20170</p>
    </div>
  </div>
  <p style="padding-left: 38%;background-color: white;q">&copy; 2017 Resource Stack, Inc. All Rights Reserved</p>
</div>

<script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '500',
          width: '100%',
          videoId: 'P0FDBYw8R3Y',
          playerVars: {rel:0, showinfo:0},
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 6000);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    </script>