<div class="medium-8" style="width:100%;">
  <%= image_tag "/assets/background_image", style: "width:92%;float:left;margin-left:48px;" %>
</div>
<div class="tiny reveal" id="loginbox" data-reveal>
    <%= simple_form_for(:user, :url => session_path(:user)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email, required: false, autofocus: true %>
        <%= f.input :password, required: false %>
        <%= f.input :remember_me, as: :boolean %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in" %>
      </div>
    <% end %>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="grid-x front-row full-width banner" style="background-image: url('/assets/lovewar.jpg'); float:left;">
  <div class="full-width dark-foreground"></div>
  <div class="banner-text">Testimonials</div>
</div>


<div class=".grid-x front-row full-width footer" style="margin-bottom: 0 !important;">
  <div style="background:black;color: white;height:100px;font-size: 30px;text-align: center;">
    <p>CONTACT RESOURCE STACK</p>
  </div>
  <div style="background:#5b5bd7;color: black;height:125px;font-size: 30px;text-align: center;padding:10px;">
    <p>sameer.sharma@resourcestack.com</p>
    <p style="color:white;font-size: 30px;text-align: center;">(571)2232013</p>
  </div>
  <div style="height:100px;"">
    <div class="icons" style="float:left;padding: 50px;margin-left: 20px;">
      <a href="#" style="padding: 40px;"><%= image_tag "/assets/linkedin" %></a><a href="#"><%= image_tag "/assets/facebook" %></a>
    </div>
    <div class="address" style="float:right;margin-right:70px;margin-top: 10px;">

      <p>Resource Stack, INC.</br>626 Grant Street Suite D</br>Herndon, VA 20170</p>
    </div>


  </div>
</div>