
<ul class="medium-8" data-orbit style="width:100%;" data-options="slide_number: false;">
  <li data-orbit-slide="headline-1">
    <div>
      <img class="orbit-image" src="/assets/slide-11" alt="Space">
      <div class="big-slide-text-right">Time Management, Made Easy.</div>
    </div>
  </li>
  <li data-orbit-slide="headline-2">
    <div>
      <img class="orbit-image" src="/assets/slide-2" alt="Space">
      <div class="big-slide-text-left">Enter Time For Multiple Projects.</div>
    </div>
  </li>
  <li data-orbit-slide="headline-3">
    <div>
      <img class="orbit-image" src="/assets/slide-3" alt="Space">
      <div class="big-slide-text-right">Reports Available on a Project-To-Project Basis.</div>
    </div>
  </li>
</ul>

<div class="medium-3 front-sign-in-form" style="float:left;">
  <%= simple_form_for(:user, :url => session_path(:user)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email, required: false, autofocus: true %>
        <%= f.input :password, required: false %>
        <%= f.input :remember_me, as: :boolean %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in" %>
      </div>
  <% end %>
</div>

<div class="row front-row">
  <h5 class="center bold" style="background-color: #e46a27;">Feature</h5>
  <p style="margin-left: 10%; margin-right: 10%;">This is a description of a another TimeStack feature. This is a description of a another TimeStack feature. This is a description of a another TimeStack feature. This is a description of a another TimeStack feature.
    This is a description of a another TimeStack feature. This is a description of a another TimeStack feature.
    This is a description of a another TimeStack feature. This is a description of a another TimeStack feature.
    This is a description of a another TimeStack feature. This is a description of a another TimeStack feature. </p>
</div>

<div class="row front-row">
  <div class="medium-4">
    <div class="front-box">
      <div class="bold center front-box-header">Track Employees Time</div>
      <p>Track Track Track Track Track Track Track Track Track Track Track Track Track
        Track Track Track Track Track Track Track Track Track Track Track Track Track Track
        Track Track Track Track Track Track Track Track Track Track Track Track Track Track.</p>
    </div>
  </div>
  <div class="medium-4">
    <div class="front-box">
      <div class="bold center front-box-header">Track Employees Time</div>
      <p>Track Track Track Track Track Track Track Track Track Track Track Track Track
        Track Track Track Track Track Track Track Track Track Track Track Track Track Track
        Track Track Track Track Track Track Track Track Track Track Track Track Track Track.</p>
    </div>
  </div>
  <div class="medium-4">
    <div class="front-box">
      <div class="bold center front-box-header">Track Employees Time</div>
      <p>Track Track Track Track Track Track Track Track Track Track Track Track Track
        Track Track Track Track Track Track Track Track Track Track Track Track Track Track
        Track Track Track Track Track Track Track Track Track Track Track Track Track Track.</p>
    </div>
  </div>
</div>

<div class="row front-row full-width banner" style="background-image: url('/assets/lovewar.jpg'); float:left;">
  <div class="full-width dark-foreground"></div>
  <div class="banner-text">Testimonials</div>
</div>

<div class="row front-row">
  <h5 class="center bold" style="background-color: #e46a27;">People Are Loving Timestack</h5>
  <p style="margin-left: 10%; margin-right: 10%; text-align:center;">Just look at what our customers are saying! </p>
</div>

<div class="row front-row">
  <div class="medium-4">
    <div class="front-box">
      <div class="bold center front-box-header">Testimonial 1</div>
      <p>Track Track Track Track Track Track Track Track Track Track Track Track Track
        Track Track Track Track Track Track Track Track Track Track Track Track Track Track
        Track Track Track Track Track Track Track Track Track Track Track Track Track Track.</p>
    </div>
  </div>
  <div class="medium-4">
    <div class="front-box">
      <div class="bold center front-box-header">Testimonial 2</div>
      <p>Track Track Track Track Track Track Track Track Track Track Track Track Track
        Track Track Track Track Track Track Track Track Track Track Track Track Track Track
        Track Track Track Track Track Track Track Track Track Track Track Track Track Track.</p>
    </div>
  </div>
  <div class="medium-4">
    <div class="front-box">
      <div class="bold center front-box-header">Testimonial 3</div>
      <p>Track Track Track Track Track Track Track Track Track Track Track Track Track
        Track Track Track Track Track Track Track Track Track Track Track Track Track Track
        Track Track Track Track Track Track Track Track Track Track Track Track Track Track.</p>
    </div>
  </div>
</div>

<div class="row front-row full-width footer" style="margin-bottom: 0 !important;">
<p>Resource Stack, Inc. ©2017</p>
</div>