<div>
	<div class = "row">
    <h1>Vacation Hours Avaliable</h1>
    <caption>User Vacation Hours Avaliable</caption> <!-- hide this -->
    <div>
      <h1> Select Options </h1>
      <%= form_tag do %>
        <table>
          <tr>
            <th><%= label_tag :start_date %></th>
            <th><%= label_tag :End_Date %></th>
            <th><%= label_tag :user_status %></th>
            <th>Update</th>
          </tr>
          <tr>
            <th><%= date_field_tag 'start_date', params[:start_date], {class: "start_date"} %></th>
            <th><%= date_field_tag 'end_date', params[:end_date], { class: "end_date"} %> </th>
            <th> <%= select_tag "user_status", options_for_select(["Active", "Not Active"]) , {class: "user_status"} %> </th>
            <th> <%= button_tag "Submit" %> </th>
          </tr>
        </table>
      <% end %>       
    </div>

    <table id="show_vacation_summary" class="display">
      <thead>
        <tr>
        	<th> Users Email </th>
        	<% @customer_types.each do |ct|%>
          <th> <%= ct.vacation_title %> (<%= ct.vacation_bank %> hr)</th>
          <% end %>
        </tr>
      </thead>
      <% @user_hash.each do |key, value| %>
      <tbody>
        <tr>
            <td> <%= key %> </td>
            <% value.each do |x| %>
              <td> <%= x.last %></td>
            <% end %>
        </tr>
        </tbody>
        <% end %>
    </table>
	</div>
</div> 



