<%= month_calendar events: @project_shifts do |date, shifts| %>
 <a href="#" data-toggle="modal" data-target="#shiftchangeModal">
  <b><%= date %></b>
  
  
  <% shifts.each do |shift| %>

    <div>
      <b>SHIFT:</b> <%= shift.shift.name %>
    </div>
    <% if shift.users.present? %>
      <div><b>USERS:</b>
    <% users = shift.users.collect(&:name) %>
      <%= users.join(",") %>
    </div>
    
    <% end %>
  <% end %>
</a>
<% end %>
<div id="change_shift">
<%= render partial: 'shifts/shift_change_modal' %>
</div>