
<div id="inventoryModel" class= "modal"> 
	<div class = "modal-content">
     	<div class="modal-header">
     		<p style="position: relative;text-align: left;float: left;left: 37%;"><strong> Please Add Enventory And Equipment Details!</strong> </p>  
         	<span class = "close inv_close"> &times;</span>

        </div>

            <%= form_tag add_multiple_user_inventory_path , remote: true  do |form| %>
   
                <%= hidden_field_tag "inv_user_ids", sel_inv_ids %>
                <%= hidden_field_tag "project_id", project_id  %> 

             <div class="form-group">
                <label>Add Enventory And Equipment for user(s):</label>
                <p class="inv_selected_users_email"></p>
                <%= inv_sel_users.join(" ,") %>

            </div>
            
            <div class="form-group">
                <% inv_users.each do |user| %>
                    <strong>Equipment Name:</strong>
                    <%= text_area_tag "equipment_name_#{user.id}",  "", rows: 4, cols:20, class: 'form-control' %>
                    <br>
                    <strong>Equipment Number:</strong>
                    <%= text_field_tag "equipment_number_#{user.id}", "", rows: 4, cols:20, class: 'form-control' %>
                    <br>
                    <strong>Issued By</strong>
                    <%= text_field_tag "issued_by_#{user.id}", "", rows: 4, cols:20 , class: "form-control" %>
                    <br>
                    <strong>Issued Date</strong>
                    <%= date_field_tag("issued_date_#{user.id}", Date.today)%>
                    <br>
                    <br>
                    <strong>Submitted Date</strong>
                    <%= date_field_tag("submitted_date_#{user.id}", Date.today)%>
                    <br>
                    <br>
                <% end %>
                <%= submit_tag "Add Inventory", class: "btn oragne-button", id: "inventory_button" %>
            <% end %>
            </div>
        
     </div> 
</div>



<script type="text/javascript">

 $(".inv_close").click(function(){
        $("#inventoryModel").modal('hide');
    });
</script> 
