<nav class="navbar navbar-expand-lg navbar-light" style="box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">
  <% if current_user.nil?%>
    <a href="/", class ="navbar-brand" ><%= image_tag "chronstack.jpg", class: 'logo' %></a>
	<% else %>
    <% if !current_user.customer_id.nil? %>
		  <% customer = Customer.find(current_user.customer_id)%>
		  <% if !customer.logo.blank?%>
		    <a href="/", class="navbar-brand"><%= image_tag "#{customer.logo}", class: 'logo' %></a>
		  <% else %>
		    <a href="/", class="navbar-brand"><%= image_tag "chronstack.jpg", class: 'logo' %></a>
		  <% end %>
		<% else %>
	  <a href="/", class="navbar-brand"><%= image_tag "chronstack.jpg", class: 'logo' %></a>
	  <% end %>
  <% end %>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <% if current_user.nil? %>
  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    	<ul class="navbar-nav navbar-dark mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Features
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="<%= feature_path(id:1) %>">Easy Automation</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="<%= feature_path(id:2) %>">Employee Time Entry</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="<%= feature_path(id:3) %>">Submission and Approval</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="<%= feature_path(id:4) %>">Flexible Reports</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="<%= feature_path(id:5) %>">Optional Payroll System Integration</a>
	          
	        </div>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="<%= feature_path(id:7) %>">A Small IT Consulting</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="<%= feature_path(id:9) %>">Company Overview</a>
	      </li>
	      <li class="nav-item">

	        <a id= "login_modal" class="nav-link" href="javascript:void(0)" data-toggle="modal" data-target="#loginModal">Sign In</a>
	        

	      </li>
    	</ul>
	    <form class="form-inline my-2 my-lg-0">
	      <input class="form-control mr-sm-2 glyphicon glyphicon-search" type="search" placeholder="Search" aria-label="Search">
	      <span class="glyphicon glyphicon-search"></span>
	    </form>
	  </div>
  <% else %>	
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav navbar-dark ml-auto justify-content-right">
	      <li class="nav-item active">
	        <a class="nav-link" href="/user_profile"><%= current_user.email %></a>
	      </li>
	    
			<% if new_messages > 0 %>
				<span class="notification"><%= new_messages %></span>
			<% end %>
				<li class="nav-item active">
	        <a class="nav-link" href="<%= user_notification_path %>"><i class="fa fa-bell"></i></a>
	      </li>
	      <% if current_user.admin? %>
	      <li class="nav-item active">
	        <a class="nav-link btn" href="/admin">Admin</a>
	      </li>
	      <% end %>
	      <li class="nav-item active">
	      	<%= link_to 'Logout', destroy_user_session_path, :method => :delete, style: "float:right;", class: 'nav-link' %>
	      </li>
	    </ul>
	  </div>
	<% end %>
</nav>


