<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="turbolinks-cache-control" content="no-cache">
    <title><%= content_for?(:title) ? yield(:title) : "RSI - Time Tracking System" %></title>

    <%= stylesheet_link_tag "application" %>
    <% if current_user.nil?%>
      <%= stylesheet_link_tag "orange"%>
    <% else %>  
      <% if !current_user.customer_id.nil?%>
        <% customer = Customer.find(current_user.customer_id)%>
        <% if customer.theme == "Orange"%>
          <%= stylesheet_link_tag "orange"%>
        <% elsif customer.theme == "Blue" %>
          <%= stylesheet_link_tag "blue"%>
        <% end %>
      <% else%>  
        <%= stylesheet_link_tag "orange"%>
      <% end%> 
    <% end %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "cocoon" %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
    <% if @print_report == "true" %>
      <%= render "layouts/report_header" %>
    <% else %>
      <%= render "layouts/header" %>
    <%end%>
    <%= yield %>

  </body>
</html>
